* {
    padding: 0;
}
html {
    font-size: 1rem;
    height: 100%;
}
body, header, nav, main, footer {
    /*border: 3px blue solid;*/
    min-height: 50px;
    margin: 0.5rem;
    background-color: #8fb3e3;
}
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.5rem rgb(83, 78, 76 / 50%);
}
/*body {
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}*/
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.div-logo {
    margin: 0.5rem;
}
.logo {
    width: 100px;
}
.div-titulo {
    margin: 0.5rem 0 0 1rem
}
.item {
    text-decoration: none;
    width: 120px;
    margin: 5px;
    text-align: center;
    color:  white;
    padding-top: 9px;
    /*background-color: gray;*/
}
.item:hover {
    color: black;
}
.item1 {
    background-color: #9ada9c;
}
.item2 {
    background-color: #ccda9c;
}
.item3 {
    background-color: #dc9d72;
}
.item4 {
    background-color: #3d3777;
}
.item5 {
    background-color: #d573ae;
}
main {
    min-height: 300px;
}
.mapa {
    margin: 0.5rem;
    width: 80%;
}
.footer-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.seguinos {
    margin-right: 10 px;
}
/* son los links a las redes sociales */
.social-link {
    margin-left: 10px;
    justify-content: space-between;
}
/* contenedor formulario de contacto */
.contenedor {
    background: #fff;
    border-radius: 2px;
    box-shadow: 19px 20px 8px -9px rgba(0,0,0,0.2);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}
/* cabecera formulario de contacto */
.cabecera {
    background: #13334c;
    color: azure;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
/* formulario de contacto */
#formulario {
    padding: 30px 20px;
}
.form-control {
    margin-bottom: 7px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 7px;
    font-weight: 200;
}
.form-control input {
    border: none;
    background-color: #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 12px;
    width: 100%;
}
.form-control input:focus {
    outline: none;
}
.form-control.ok input {
    border: 0.1px solid;
    border-color: #08ffc8;
}
.form-control.falla input {
    border: 0.1px solid;
    border-color: #fe5f55;
}
#formulario button {
    background: #fd4f00;
    border: 1px solid #fd4f00;
    border-radius: 2px;
    color: #f6f6e9;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
.form-control p {
    visibility: hidden;
    position: absolute;
    font-size: small;
    font-weight: 500;
    text-align: right;
}
.form-control.falla p {
    visibility: visible;
    color: #e74c3c;
}