.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    border: solid 1px rgb(255,255,255);
}
.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}
.grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
}
