* {
    padding: 0;
}
html {
    font-size: 1rem;
    height: 100%;
}
body, header, nav, main, footer {
    /*border: 3px blue solid;*/
    min-height: 50px;
    margin: 0.5rem;
    background-color: #8fb3e3;
}
header {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0.5rem rgb(83, 78, 76 / 50%);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-end;
}
nav {
    margin-left: 120px;
    margin-right: 120px;
    font-size: large;
    display: flex;
    justify-content: space-evenly;
}
a {
    color: white;
    text-decoration: none;

}

@media (max-width:600px){
    nav{
        flex-direction:column;
    }
}
.div-logo {
    margin: 0.5rem;
}
.logo {
    width: 100px;
}
.div-titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
    margin: 0.5rem 0 0 1rem
}
.item {
    text-decoration: none;
    width: 120px;
    margin: 5px;
    text-align: center;
    color:  white;
    padding-top: 9px;
    /*background-color: gray;*/
}
.item:hover {
    color: black;
}
.item1 {
    background-color: #9ada9c;
}
.item2 {
    background-color: #ccda9c;
}
.item3 {
    background-color: #dc9d72;
}
.item4 {
    background-color: #3d3777;
}
.item5 {
    background-color: #d573ae;
}
main {
    min-height: 300px;
}
.mapa {
    border: 3px solid white;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.footer-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.seguinos {
    color: white;
    margin-right: 10 px;
}
/* son los links a las redes sociales */
.social-link {
    margin-left: 10px;
    justify-content: space-between;
}